{{ $cover := .Site.Data.cover }}

<section class="cover p-lg-5 p-md-5 p-3">
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="">
          <h1 class="h1 text-light"><img width="300" src="/images/hack3-white.png" alt="Hack3"></h1>
          <p class="text-light h3">Experience Innovation</p>
          <p class="text-light sub-heading">A New Hackathon in the Boston Area</p>
          <a href="https://hack3boston.typeform.com/to/OMh8VL" class="btn btn-outline-light">Pre-register Now</a>
          <a href="https://discord.gg/jcvTJpn" class="btn btn-outline-light">Join Discord</a>
      </div>
      <!-- <div class="col-12 col-lg-6 col-md-6 col-sm-12"> -->
          <!-- <img src="/images/cover.svg" class="float-right" style="max-width: 100%"> -->
      <!-- </div> -->
    </div>
    
  </div>
</section>

<style type="text/css">
  .cover{
    margin-top: -80px;
    height: 500px;
    background-image: linear-gradient(to right, #8e86da, #48c8fb);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    /*animation: breath 25s ease-in-out infinite;*/
  }

  @keyframes breath {
  0%   { background-size: 100% auto; }
  50% { background-size: 140% auto; }
  100% { background-size: 100% auto; }
}
  .cover .sub-heading{
    opacity: .6;
  } 
</style>
