<section id="faq" class="text-center py-5">
  <div class="container">
    <h2 class="pt-5 h2">FAQ</h2>

    <p class="text-muted pb-5">For more details, <a href="#contact">contact us below</a>.</p>

    <div class="row justify-content-md-center">
      <div class="col-12 col-lg-3 col-md-6 col-sm-12">
        <h4 class="h4">What is a hackathon?</h4>
        <p class="text-muted">
          A hackathon is an event where teams of people come together to design and
          build something involving a novel use of technology, usually centered around some theme.
        </p>
      </div>
      <div class="col-12 col-lg-3 col-md-6 col-sm-12">
        <h4 class="h4">Who should come to Hack3?</h4>
        <p class="text-muted">
          High school students with an interest in technology or programming.
        </p>
      </div>
      <div class="col-12 col-lg-3 col-md-6 col-sm-12">
        <h4 class="h4">What should I bring?</h4>
        <p class="text-muted">
          Your laptop, charger and a sleeping bag. We'll provide everything else!
        </p>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-12 col-lg-3 col-md-6 col-sm-12">
        <h4 class="h4">Is there a place to sleep/eat?</h4>
        <p class="text-muted">
          There will be a separate room for sleeping, and meals for the weekend (including snacks and drinks) will be
          provided free of charge!
        </p>
      </div>
      <div class="col-12 col-lg-3 col-md-6 col-sm-12">
        <h4 class="h4">How much experience do I need?</h4>
        <p class="text-muted">
          No experience is needed! Anyone with an interest in the field can come and participate.
        </p>
      </div>
      <div class="col-12 col-lg-3 col-md-6 col-sm-12">
        <h4 class="h4">How do I form a team?</h4>
        <p class="text-muted">
          We encourage you to form a team prior to the event itself. However, it is possible to find
          a team at the event or even take on the challenge on your own.
        </p>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-12 col-lg-3 col-md-6 col-sm-12">
        <h4 class="h4">How many people can be in a team?</h4>
        <p class="text-muted">
          Up to 4.
        </p>
      </div>
      <div class="col-12 col-lg-3 col-md-6 col-sm-12">
        <h4 class="h4">Are there prizes?</h4>
        <p class="text-muted">
          Yes! There are prizes for first, second and third place for each of the three tracks, but you can only
          participate in one track.
        </p>
      </div>
      <div class="col-12 col-lg-3 col-md-6 col-sm-12">
        <h4 class="h4">How is the winner determined?</h4>
        <p class="text-muted">
          You will present your final product to a panel of judges who will determine winners based on creativity, how
          technically challenging it was to create, and how much it fits the theme.
        </p>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-12 col-lg-3 col-md-6 col-sm-12">
        <h4 class="h4">Will there be travel reimbursement?</h4>
        <p class="text-muted">
          Unfortunately, we cannot directly provide travel reimbursement for our participants at this time, but you can
          apply for <a href="https://grant.executebig.org">Execute Big's Travel Grant</a>, so you can join us without
          having to pay for travel!
        </p>
      </div>
    </div>
  </div>
</section>