{{ $header := .Site.Data.header }}
{{- $logoSrc := printf "images/%s" $header.logo | absURL -}}

<nav class="navbar nav-transparent navbar-expand-lg navbar-dark fixed-top">
  <!-- <div class="backdrop-blur"></div> -->
  <a class="navbar-brand hide-text" href="{{.Site.BaseURL}}">Hack3</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      {{ range $header.links }}

      <li class="nav-item">
        <a class="nav-link" href="{{.Site.BaseURL}}{{ .href }}">{{ .title }}</a>
      </li>

      {{ end }}
    </ul>
    <ul class="ml-auto navbar-nav">
      {{ range $key, $value := .Site.Data.social }}
      <li class="nav-item" style="font-size: 22px">
        <a href="{{ $value }}" target="_blank" rel="noopener noreferrer" class="ml-3 text-white btn-{{ $key }}"><i
            class="fab fa-{{ $key }}"></i></a>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>
<style>
  .hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .navbar-dark .navbar-brand {
    background-image: url(/images/hack3_horizontal.png);
    width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .navbar-light .btn-discord {
    color: #7289da !important;
  }

  .navbar-light .navbar-brand {
    background-image: url(/images/hack3_horizontal_gradient.png);
    width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
</style>