<section class="text-center py-5">
  <div class="container">
    <h2 class="pt-5 h2">Our Sponsors</h2>

    <p class="mt-5"><a href="/prospectus/sponsor.pdf" style="white-space: normal"
        class="btn btn-success btn-lg">Interested in sponsoring Hack3? Click here!</a></p>

    <p class="mt-5"><a href="https://discordapp.com/hypesquad"><img class="sponsor" src="/images/sponsors/hypesquad.png"
          alt="Discord - Hypesquad"></a></p>

    <h2 class="pt-5 h2">Powered/Co-hosted By</h2>

    <p class="mt-5"><a href="https://hackclub.com/bank/"><img class="sponsor" src="/images/sponsors/hack-club-bank.png"
          alt="Powered by Hack Club Bank"></a></p>
  </div>
</section>

<style>
  .sponsor {
    width: 250px;
  }
</style>