<section id="tracks" class="text-center py-5">
  <div class="container">
    <h2 class="pt-5 h2">Tracks</h2>
    <p class="text-muted pb-5">Participate for prizes in one of three tracks!</p>
    <div class="row justify-content-md-center">
      <div class="col-12 col-lg-3 col-md-6 col-sm-12 features">
        <div class="icon mb-4"><i class="fa fa-gamepad"></i></div>
        <h4 class="h4">Recreation</h4>
        <p class="text-muted">
          Build a virtual world better than the real one. Program games or
          multimedia experiences.
        </p>
      </div>
      <div class="col-12 col-lg-3 col-md-6 col-sm-12 features">
        <div class="icon mb-4"><i class="fa fa-microchip"></i></div>
        <h4 class="h4">Hype Tech</h4>
        <p class="text-muted">
          Use the latest in cutting-edge technologies to create a cool
          application. Use blockchain or machine learning.
        </p>
      </div>
      <div class="col-12 col-lg-3 col-md-6 col-sm-12 features">
        <div class="icon mb-4"><i class="fa fa-hospital"></i></div>
        <h4 class="h4">Real World</h4>
        <p class="text-muted">Use technology to affect the real world! E.g. medicine or globalization.</p>
      </div>
    </div>
  </div>
</section>
