<section id="tracks" class="text-center py-5">
  <div class="container">
    <h2 class="pt-5 h2">Tracks</h2>
    <p class="text-muted pb-5">Participate for prizes in one of three tracks!</p>
    <div class="row justify-content-md-center">
      <div class="col-12 col-lg-3 col-md-6 col-sm-12 features">
        <div class="icon mb-4"><i class="fa fa-gamepad"></i></div>
        <h4 class="h4">Recreation</h4>
        <p class="text-muted text-justified">
          Build a virtual world better than the real one. Program games, social networks, or
          multimedia experiences.
        </p>
      </div>
      <div class="col-12 col-lg-3 col-md-6 col-sm-12 features">
        <div class="icon mb-4"><i class="fa fa-microchip"></i></div>
        <h4 class="h4">New Technology</h4>
        <p class="text-muted text-justified">
          Use the latest in cutting-edge technologies to create a cool
          application. Use blockchain or machine learning.
        </p>
      </div>
      <div class="col-12 col-lg-3 col-md-6 col-sm-12 features">
        <div class="icon mb-4"><i class="fa fa-hospital"></i></div>
        <h4 class="h4">Real World</h4>
        <p class="text-muted text-justified">Use technology to affect the real world! Make something that impacts
          medicine or globalization
        </p>
      </div>
    </div>
    <div class="w-75 mx-auto text-justified">
      <h2 class="pt-5 h2">What is Hack3?</h2>
      <p class="text-muted">Hack3 is a fun, 24 hour hackathon made for high school students, both new and
        experienced. During this time you will develop and present a project for cool prizes. Most importantly, you will
        learn new and useful skills that will help you on your computer science journey.</p>

      <h2 class="pt-5 h2">Our Goal</h2>

      <div class="text-muted">
        <p>In the palm of your hands, you hold a computer a thousand times faster than the Apollo Guidance
          Computer. Yet, this power remains mostly untapped. Hack3 aims to change that. We want you to use technology
          <strong>for good</strong>, preserving privacy and ethics.</p>

        <p>We need to nurture a new generation of determined programmers and give
          them the ability to make change for good. Our aim is to provide an opportunity for aspiring leaders of the
          tech
          world to bring their own ideas to fruition and create a better world for future generations.</p>
      </div>
    </div>
</section>

<style type="text/css">
  .text-justified {
    text-align: justify;
  }
</style>